
CircusTrein.Domein/CircusTrein.Domein/obj/Debug/net8.0/apphost.exe
CircusTrein.Domein/CircusTrein.Domein/obj/Debug/net8.0/CircusTrein.Domein.AssemblyInfo.cs
CircusTrein.Domein/CircusTrein.Domein/obj/Debug/net8.0/CircusTrein.Domein.AssemblyInfoInputs.cache
CircusTrein.Domein/CircusTrein.Domein/obj/Debug/net8.0/CircusTrein.Domein.csproj.CoreCompileInputs.cache
CircusTrein.Domein/CircusTrein.Domein/obj/Debug/net8.0/CircusTrein.Domein.csproj.FileListAbsolute.txt
CircusTrein.Domein/CircusTrein.Domein/obj/Debug/net8.0/CircusTrein.Domein.dll
CircusTrein.Domein/CircusTrein.Domein/obj/Debug/net8.0/CircusTrein.Domein.pdb
CircusTrein.Domein/CircusTrein.Domein/obj/Debug/net8.0/CircusTrein.Domein.sourcelink.json
CircusTrein.Domein/CircusTrein.Domein/obj/Debug/net8.0/ref/CircusTrein.Domein.dll
CircusTrein.Domein/CircusTrein.Domein/obj/Debug/net8.0/refint/CircusTrein.Domein.dll
CircusTrein.Domein/CircusTrein.UnitTests/bin/Debug/net8.0/CircusTrein.Domein.dll
CircusTrein.Domein/CircusTrein.UnitTests/bin/Debug/net8.0/CircusTrein.Domein.exe
CircusTrein.Domein/CircusTrein.UnitTests/bin/Debug/net8.0/CircusTrein.Domein.pdb
CircusTrein.Domein/CircusTrein.UnitTests/bin/Debug/net8.0/CircusTrein.UnitTests.dll
CircusTrein.Domein/CircusTrein.UnitTests/bin/Debug/net8.0/CircusTrein.UnitTests.pdb
CircusTrein.Domein/CircusTrein.UnitTests/bin/Debug/net8.0/nunit_random_seed.tmp
CircusTrein.Domein/CircusTrein.UnitTests/obj/Debug/net8.0/CircusTrein.UnitTests.AssemblyInfo.cs
CircusTrein.Domein/CircusTrein.UnitTests/obj/Debug/net8.0/CircusTrein.UnitTests.AssemblyInfoInputs.cache
CircusTrein.Domein/CircusTrein.UnitTests/obj/Debug/net8.0/CircusTrein.UnitTests.csproj.AssemblyReference.cache
CircusTrein.Domein/CircusTrein.UnitTests/obj/Debug/net8.0/CircusTrein.UnitTests.csproj.CoreCompileInputs.cache
CircusTrein.Domein/CircusTrein.UnitTests/obj/Debug/net8.0/CircusTrein.UnitTests.csproj.FileListAbsolute.txt
CircusTrein.Domein/CircusTrein.UnitTests/obj/Debug/net8.0/CircusTrein.UnitTests.dll
CircusTrein.Domein/CircusTrein.UnitTests/obj/Debug/net8.0/CircusTrein.UnitTests.pdb
CircusTrein.Domein/CircusTrein.UnitTests/obj/Debug/net8.0/CircusTrein.UnitTests.sourcelink.json
CircusTrein.Domein/CircusTrein.UnitTests/obj/Debug/net8.0/ref/CircusTrein.UnitTests.dll
CircusTrein.Domein/CircusTrein.UnitTests/obj/Debug/net8.0/refint/CircusTrein.UnitTests.dll
